{% extends 'base.html' %}
{% block content %}
<main class = "container py-5"></main>
<section class = "card card_body">
    <h1 class = "display-1 text-center" >Django App</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis esse error molestiae eaque, facere odio, vel labore repudiandae officiis magnam similique voluptate. Quo molestiae numquam perferendis nulla. Minus quisquam doloribus vero enim necessitatibus aliquid qui vel rerum, placeat hic dolorem quae! Placeat illo adipisci, dolore aliquid consectetur perferendis corrupti sed voluptas quia minima eius! Voluptatem deleniti nobis repellat modi, molestiae distinctio? Suscipit eos ut nam numquam fugiat, nulla, eaque consequuntur veniam voluptas incidunt distinctio laudantium nobis quo blanditiis consequatur architecto dolores doloremque et amet consectetur deleniti harum vel. Tempora unde blanditiis nam quae harum delectus      deleniti aliquid aut ipsum quos!</p>
    <div class = "text-center">
    <a href="/signin/" class="btn btn-secondary">
        Sign In
    </a>
    <a href="/signup/" class="btn btn-dark">
        Sign Up
    </a>
    </div>
</section>
{% endblock %}